<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-left">
            <img src="assets/voxxvision.jpeg" alt="Logo">
            <p class="rights">© 2023 VoxxVision<br />All rights reserved</p>
        </div>
        <div class="footer-right">
            <div class="footer-address">
                <h3>Get in touch</h3>
                <address>VOXXVISION Ventures Pvt Ltd,<br> 45/1862 Devi Buildings ,<br> Labour Colony
                    Road, NH Bypass,<br> Thammanam, Ernakulam, Kerala-682032</address>
                <a href="/cdn-cgi/l/email-protection#dbf8"><span class="__cf_email__"
                        data-cfemail="b5dcdbd3daf5d0d8d4dcd99bd6dad8">email&#160;sales@voxxvision.in</span></a><br />
                +91-9746369930<br>
                GSIN: 32AAHCV9808R1ZI
            </div>
            <div class="footer-links">
                <h3>Learn more</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Support</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
            <div class="subscribe">
                <h3>Our Newsletter</h3>
                <p>Subscribe to our newsletter to get our <br>news & deals delivered to you.</p>
                <form>
                    <input type="email" placeholder="Enter your email">
                    <button type="submit">Join</button>
                </form>
            </div>
        </div>
    </div>
</footer>