<div class="about-bg-container"></div>
<div class="abouts-container">
    <div class="sect-1">
        <p>Those who envisioned and lead this company, Ratheesh MS, Umesh Mohanan, Anish Mohanan, Sumesh P and TR
            Anantharaman have had long years of experience where their theoretical knowledge of sales and marketing was
            successfully put to test. Equipped with such expediency, they started their first venture in 2008. Reassured
            by its success and realising its significance in a post-industrial scenario, they’ve teamed with some of the
            major manufacturers, traders and business houses and launched VOXXXVISION. <br>
            We invite you to hitch-hike with us in our race to become the best sought-after business group in India by
            focusing on the Principles of Growth, Innovation, Consistency and Ethics.</p>
    </div>

    <div class="wher-box">
        <div class="wher-container"></div>
        <div class="wher">
            <h3>Where we are</h3>
            <p>We have business in over three entities and have partnered with leading brands like Realme, TCL,
                Kelvinator,
                Reliance, Britannia, Pepsi, Coke, Garmin, Toyota, Ford, Honda, and Yamaha. We are one of the largest
                financial Institutions in South India and with 180 branches, we are in the same category as the largest
                NBFCs in India.</p>
        </div>
    </div>
    <div class="ldrs">
        <h3>Leaders</h3>
        <p> We believe in the motto ‘one for all, and all for one’. With a well-established hierarchy and clear-cut
            portfolios, each of the five leaders provides the company with a different set of skills, knowledge and
            experience. </p>
    </div>
    <div class="faculties">
        <p><b>Mr Ratheesh</b>, the managing director, is a Management Graduate from Bharathiyar University and has 22
            years of hands-on experience in Sales and Marketing. Before he took up his present position, he was working
            in
            senior roles with MNCs Like HCL
            , Diageo Inc, Reliance Communications, Samsung India Electronics and MTS. He played the lead role in helping
            Samsung Mobiles gain a share of 35% from 5% in Kerala, knocking out Nokia from its No.1 position.

            Eventually he turned to Entrepreneurship in 2014 and is currently the Managing Director of Tykhe
            Technologies,
            Skyconnect Trading & Voxxvision Ventures Pvt Ltd.
            <br> <br>
            <b>Mr Sumesh P Nair</b> is an NRI with a Management background. He has more than two decades of vast
            experience in Sales and Marketing. During his corporate stint, he worked in senior roles with MNC's Like
            PepsiCo, Hutch Telecom, Reliance Communications, Samsung India Electronics and Redington Gulf.
            <br>
            He played major roles like Regional Distribution Head GCC Region for Apple Business Group with Redington,
            Regional Distribution Sales Manager for South India for Samsung India Electronics Pvt Ltd. Everywhere, he
            had been able to leave and indelible print of excellence.
            <br> <br>
            <b>Mr. Umesh Mohanan</b> is an investment professional with a proven track record of heading a
            multi-billion-dollar Middle Eastern conglomerate, spearheading its global operations for 12 years. He has
            also kept his mark in various fields by investment
            participation in diversified investment portfolios such as dealing in petroleum products, natural minerals,
            bullion and other commodities across the globe.
            <br>
            His presence in India is largely felt through the investment vehicle namely M/s. Indel Corporation Private
            Limited. At Indel Money, his corporate inheritance of skills from the multinational business background is
            sure to fuel the business to attain its peak performance.
            <br> <br>
            <b>T R Anantharaman:</b> In business, accountability and accounting go hand in hand. One is a flip side of
            the other. A Chartered Accountant by profession T. R Anantharaman keeps the sail at an even keel by watching
            every penny as it comes and goes. His CA firm has branches at 7 places across the country including Trichur,
            Salem, Trichy and Chennai.
            When it comes to accounting, T R Anantharaman has it in his genes. Hailing from a family which has been in
            business for generations and was involved in varied business initiatives including farms and estates,
            transports, real estate etc.
            <br>
            He has proved his mettle as the Director, Tykhe Technologies, Skyconnect Trading & Voxxvision ventures Pvt
            Ltd, Partner Sengottain & CO and also as the Director, Indel Money Private Ltd, a leading NBFC in India.
        </p>
    </div>
    <div class="grps">
        <h3>Group of companies </h3>
        <ul class="list-group">
            <li class="list-group-item">Voxxvision ventures Pvt Ltd</li>
            <li class="list-group-item">Skyconnecttrading</li>
            <li class="list-group-item">Indel Corporation</li>
            <li class="list-group-item">Indel Automotives Pvt Ltd</li>
            <li class="list-group-item">Indel Money Ltd</li>
            <li class="list-group-item">The Transindia Insurance Broking and Risk Management Private Limited</li>
            <li class="list-group-item">Indel Capital Ventures and Investments (P) Ltd</li>
            <li class="list-group-item">M-Star Hotels Private Limited</li>
            <li class="list-group-item">M Star Satellite Communications Pvt Ltd</li>
        </ul>
    </div>

    <div class="grps">
        <h3>Group of companies</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="box">
                    Voxxvision ventures Pvt Ltd
                </div>
            </li>
            <li class="list-group-item">
                <div class="box">
                    Skyconnecttrading
                </div>
            </li>
            <!-- Add similar div elements for other list items -->
        </ul>
    </div>
    






    <div class="sctrs">
        <h3>Sectors We Value Add</h3>
        <ul class="list-group">
            <i class="bi bi-list-check"><span>&#10003;</span>
                Consumer Durables</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                Telecommunications</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                FMCG</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                Financial services</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                Automotives</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                Insurance</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                Hospitality & Leisure</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                Media & Entertainment</i>
            <i class="bi bi-list-check"><span>&#10003;</span>
                Construction & Development</i>
        </ul>
    </div>
</div>