<div class="mission-container">
    <div class="serv">
        <h1 class="animate-letters"> Our services...</h1>
        <p class="animate-up">We aim to become a leading business group in India, systematic ultra and infrastructure
            sought
            after the most by manufacturers and the relevant markets. This we plan to do by harnessing and synergizing
            the
            potential talents of handpicked professionals with a good track record in Sales, Marketing, Product, Market
            Development, and Finance.</p>
    </div>
    <div class="where">
        <h1 class="animate-letters">Where we want to go...</h1>
        <p class="animate-up">Our objective is to establish a diversified and vibrant business organization in
            Distribution,
            Consumer Electronics, Telecom, FMCG, Health Care Research, Finance, Media & Entertainment, Hospitality,
            Automotive business, Agriculture, and Construction.</p>
    </div>
</div>