<div class="softassets-align">

    <div class="market animated">
        <h4>Strong Market Presence</h4>
        <p>We are handling 300 Distributors directly and 20000 retail outlets indirectly.</p>
    </div>

    <div class="warehouse animated">
        <h4>State of art warehouse facility</h4>
        <p>We have very good association with some of the best logistics companies in India to ensure product
            distribution in every nook and corner with faster turn-around time. 25000 Square feet of warehousing
            facility at major South Indian locations and we keep adding more as the need arises</p>
    </div>

    <div class="support animated">
        <h4>Marketing Support</h4>
        <p> As VAD we undertake general and specific seasonal marketing campaigns for the vendors and we have time-tested
        tie-ups with some of the best regional marketing agencies in India.</p>
    </div>

    <div class="control animated">
        <h4>Rigorous process control</h4>
        <p> Our strong finance department and operations department ensures a very prompt disbursement of distributor
        claims, execution of schemes, managing of credit notes & MIS reports.</p>
    </div>

    <div class="team animated">
        <h4>Strong Team</h4>
        <p> We have highly trained, experienced and motivated team members in the field to deliver executional excellence in
        the marketplace. We are still hiring and training new recruits regularly.</p>
    </div>

</div>