<div class="operations-align">
    <div class="infra">
        <h4> Resources and Infrastructure</h4>
        <p>We are the largest distribution house in South India with a massive
            network of 300 distributors and 20000 retail outlets. We have our Sales Team placed at all the major town
            locations in South India with Corporate office at Cochin. The management team of Voxx, Mr Ratheesh and team
            comes with vast expertise in sales and marketing. We can value add to the growth of associating companies
            by
            meeting the MBO’s directly every month to help them meet the business objectives of their company
            independently.</p>
    </div>
    <div class="involve">
        <h4>Involvement</h4>
        <p>The leadership team has in-depth experience in the South Indian market. As the management has excellent
            market knowledge in South India, they have close association with most MBOs/RLFR’s/leading Consumer Electronics
            Appliance dealers and retail chains. This is sure to get us immediate access to all major retail stores for
            the brands they deal.</p>
    </div>
    <div class="invest">
        <h4>Investment</h4>
        <p>Powered by one of the biggest financial institutions in India, the company has strong financial background
            and also backed up by all leading financial institutions.</p>
    </div>
</div>