<div class="background-container"></div>
<div class="content">
  <div class="custom-heading">
    <span class="line">We Offer Turnkey</span>
    <span class="line">Distribution and Go-To-</span>
    <span class="line">Market Services to</span>
    <span class="line">access the Indian market</span>
  </div>
</div>
<div class="sub-content">
  <p>We are a creative company that focuses on<br> long term relationships with customers.<br>300 + sub
    distributors<br>18000 + retail stores<br>100% presence in Mobile, CEHA channels<br></p>
  <div><a href="#" class="rMore">Read More</a></div>
</div>
<!-- <div class="fade-left"></div> -->
<div class="mid-bg-container"></div>
<div class="mid-h1">WHAT WE DO</div>
<div class="mid-heading">
  <span class="line">The service we offer is</span>
  <span class="line">specifically designed</span>
  <span class="line">to meet your needs.</span>
</div>
<div class="mid-content">
  <p>We Offer Turnkey Distribution and Go-To-Market Services to access the Indian market
    VOXXVISION partners and co-invests with brands to enable access to the India market. The company offers services
    ranging from market entry to sales, and thereby empowers its partner brands to focus on their strengths, making
    great products and delivering exceptional customer experience.</p>
</div>

<div class="end-bg-container"></div>
<div class="end-h1">OUR SOLUTIONS</div>
<div class="end-heading">
  <span class="line">Just sit & relax while we take</span>
  <span class="line">care of your business needs.</span>
</div>
<div class="end-content">
  <p>As exemplified by Gig Economy, distribution and sales have a totally new face. New frontiers need new pathways.
    Today things happen at the speed of light, tomorrow, at the speed of thought. Going is tough and it is about to
    become more brutal and efficient. That is why we count, where we count.<br>Equipped with a proven track record of
    efficiency and effectiveness, the VOXXVISION is committed to making your dream a reality. We bridge the hiatus
    between manufacturing and marketing.</p>
</div>

<div class="percentage-container">
  <div class="percentage">{{ currentPercentage | number: '1.1-1' }}%</div>
</div>

<div class="cstSfn">Customer Satisfaction</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="rating">
  <span class="fa fa-star"></span>
  <span class="fa fa-star "></span>
  <span class="fa fa-star "></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
</div>